myenv/
venv/
__pycache__/
**/__pycache__/
*.pyc
# Entorno virtual
env/
venv/
*.pyc
*.pyo
*.pyd
__pycache__/
**__pycache__/
*__pycache__/*


# Ignorar la carpeta .vscode
.vscode/

YouBuild/__pycache__/
db.sqlite3
