{% extends templateB %}
{% load static %}

{% block title %}YouBuild | Resultados de Búsqueda{% endblock %}

{% block extra_styles %}
<link rel="stylesheet" href="{% static 'listaProduct.css' %}">
<link rel="stylesheet" href="{% static 'resultadosVacios.css' %}" />
<link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;700&display=swap" rel="stylesheet">
<style>
  body {
      font-family: 'Comfortaa', sans-serif;
  }
</style>
{% endblock %}

{% block content %}
<main>
  <div class="products-container">
    {% for producto in producto %}
    <div class="product">
      {% if producto.estado == "promocion" %}
      <div class="discount-badge">{{ producto.descuento }}% OFF</div>
      {% endif %}
      <img src="{{ producto.imagenes.first.imagen.url }}" alt="{{ producto.nombre }}" />
      <h3>{{ producto.nombre }}</h3>
      {% if producto.estado == "promocion" %}
        <p class="discounted-price">Bs {{ producto.precio_final }}</p>
        <p class="original-price">Bs {{ producto.precio }}</p>
      {% else %}
        <p>Bs {{ producto.precio }}</p>
      {% endif %}
      <div class="buttons-container">
        <div class="button-row">
          <button class="btn buy-now">Comprar Ahora</button>
          <button class="btn add-to-cart" onclick="agregarAlCarrito({{ producto.id }})">
            <i class="fas fa-shopping-cart"></i> Agregar a Carrito
          </button>
        </div>
        <div class="button-row">
          <button class="btn add-to-view" onclick="verDetalles({{ producto.id }})">
            <i class="fas fa-eye"></i> Ver Detalles
          </button>
          <button 
            class="btn add-to-list" 
            onclick="agregarAFavoritos({{ producto.id }})"
            id="favorito-btn-{{ producto.id }}">
            <i class="fas fa-heart"></i>
            {% if producto.id in favoritos_ids %}
              En Favoritos
            {% else %}
              Agregar a Lista
            {% endif %}
          </button>
        </div>
      </div>
    </div>
    {% empty %}
    <div class="mi-no-results">
      <img src="{% static 'notFounded.png' %}" alt="LogoNotFounded" width="125">
      <p>No se encontraron productos relacionados con tu búsqueda.</p>
      <div class="mi-button-row">
        <a href="{% url 'index' %}" class="mi-btn">Volver a la Página de Inicio</a>
      </div>
    </div>
    {% endfor %}
  </div>
</main>
{% endblock %}
