{% extends 'layout.html' %}
{% load static %}

{% block title %}Confirmación de Compra{% endblock %}

{% block extra_styles %}
  <link rel="stylesheet" href="{% static 'confirmacion.css' %}">
{% endblock %}

{% block content %}
  <div class="confirmacion-container">
    <h1 class="confirmacion-h1">Confirmación de Compra</h1>

    <!-- Sección de Dirección de Envío -->
    <section class="confirmacion-shipping-info">
      <h2 class="confirmacion-h2">Dirección de Envío</h2>
      <form>
        <label for="name">Nombre Completo:</label>
        <input type="text" id="name" name="name" required>

        <label for="address">Dirección:</label>
        <input type="text" id="address" name="address" required>

        <label for="city">Ciudad:</label>
        <input type="text" id="city" name="city" required>

        <label for="postal-code">Código Postal:</label>
        <input type="text" id="postal-code" name="postal-code" required>

        <label for="country">País:</label>
        <input type="text" id="country" name="country" required>
      </form>
    </section>

    <!-- Sección de Carrito -->
    <section class="confirmacion-carrito">
      <h2 class="confirmacion-h2">Resumen del Carrito</h2>
      <table class="confirmacion-carrito-tabla">
        <thead>
          <tr>
            <th>Producto</th>
            <th>Cantidad</th>
            <th>Precio Unitario</th>
            <th>Total</th>
          </tr>
        </thead>
        <tbody>
          {% for item in productos %}
          <tr>
            <td>{{ item.producto_fk.nombre }}</td>
            <td>{{ item.cantidad }}</td>
            <td>{{ item.producto_fk.precio }} Bs.</td>
            <td>{{ item.producto_fk.precio|floatformat:2|add:"*"|add:item.cantidad|floatformat:2 }} Bs.</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </section>

    <!-- Mostrar el Subtotal y Total -->
    <section class="confirmacion-total">
      <h3>Subtotal: {{ carrito_subtotal|floatformat:2 }} Bs.</h3>
      <h3>Total: {{ total|floatformat:2 }} Bs.</h3>
    </section>

    <!-- Sección de Método de Pago -->
    <section class="confirmacion-section">
      <h2 class="confirmacion-h2">Método de Pago</h2>
      <form>
        <label for="payment-option">Selecciona tu método de pago:</label>
        <select id="payment-option" name="payment-option" required>
          <option value="cash">Efectivo</option>
          <option value="paypal">PayPal</option>
          <option value="bank-transfer">QR</option>
        </select>
      </form>
    </section>

    <!-- Botón para Confirmar Compra -->
    <button type="submit" class="confirmacion-confirm-btn">Confirmar Compra</button>
  </div>
{% endblock %}
