<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Cuenta</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    
    {% load static %}
    <link rel="stylesheet" href="{% static 'CrearCuenta-style.css' %}">
</head>
<body>
    <div class="container">
        <h1 class="text-center mb-6 font-bold" style="font-size: 32px;">Crear Cuenta</h1>
        <div class="progress-bar">
            <div class="progress" id="progress-bar" style="width: 33%;"></div>
        </div>
        <form id="registro-form">
            <div id="section1" class="form-section active">
                <h2>Información Personal</h2>
                <div class="form-group">
                    <label for="nombreCompleto">Nombre completo</label>
                    <input type="text" id="nombreCompleto" name="nombreCompleto" placeholder="Introduzca su nombre completo" required>
                    <div class="error" id="error-nombreCompleto"></div>
                </div>
                <div class="form-group">
                    <label for="nombreUsuario">Nombre de usuario</label>
                    <input type="text" id="nombreUsuario" name="nombreUsuario" placeholder="Introduzca su nombre de usuario" required>
                    <div class="error" id="error-nombreUsuario"></div>
                </div>
                <div class="form-group">
                    <label for="contrasena">Contraseña</label>
                    <input type="password" id="contrasena" name="contrasena" placeholder="Ingrese su contraseña" required>
                    <div class="error" id="error-contrasena"></div>
                </div>
                <div class="form-group">
                    <label for="confirmarContrasena">Confirmar contraseña</label>
                    <input type="password" id="confirmarContrasena" name="confirmarContrasena" placeholder="Confirme su contraseña" required>
                    <div class="error" id="error-confirmarContrasena"></div>
                </div>
                <div class="input-group">
                    <div class="form-group">
                        <label for="numeroCelular">Número de celular</label>
                        <input type="tel" id="numeroCelular" name="numeroCelular" placeholder="(+591) 12345678" required>
                        <div class="error" id="error-numeroCelular"></div>
                    </div>
                    <div class="form-group">
                        <label for="correoElectronico">Correo electrónico (opcional)</label>
                        <input type="email" id="correoElectronico" name="correoElectronico" placeholder="Ingrese su correo electrónico">
                        <div class="error" id="error-correoElectronico"></div>
                    </div>
                </div>
            </div>

            <div id="section2" class="form-section">
                <h2>Información de Ubicación</h2>
                <div class="form-group">
                    <label for="departamento">Departamento</label>
                    <select id="departamento" name="departamento" required>
                        <option value="">Seleccione su departamento</option>
                        <option value="La Paz">La Paz</option>
                        <option value="Cochabamba">Cochabamba</option>
                        <option value="Santa Cruz">Santa Cruz</option>
                        <option value="Tarija">Tarija</option>
                        <option value="Chuquisaca">Chuquisaca</option>
                        <option value="Potosí">Potosí</option>
                        <option value="Oruro">Oruro</option>
                        <option value="Beni">Beni</option>
                        <option value="Pando">Pando</option>
                    </select>
                    <div class="error" id="error-departamento"></div>
                </div>
                <div class="input-group">
                    <div class="form-group">
                        <label for="provincia">Provincia</label>
                        <select id="provincia" name="provincia" required disabled>
                            <option value="">Seleccione su Provincia</option>
                        </select>
                        <div class="error" id="error-provincia"></div>
                    </div>
                    <div class="form-group">
                        <label for="municipio">Municipio</label>
                        <select id="municipio" name="municipio" required disabled>
                            <option value="">Seleccione su Municipio</option>
                        </select>
                        <div class="error" id="error-municipio"></div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="direccion">Dirección</label>
                    <input type="text" id="direccion" name="direccion" placeholder="Ingrese su dirección" required>
                    <div class="error" id="error-direccion"></div>
                </div>
            </div>

            <div id="section3" class="form-section">
                <h2>Fotos y Términos</h2>
                <div class="form-group">
                    <label>Agregar foto de perfil (opcional)</label>
                    <div class="image-upload-container">
                        <i class="fas fa-image"></i>
                        <p>Elegir un archivo</p>
                        <p>Formatos jpg o png</p>
                        <label for="fotoPerfil" class="image-upload-button">
                            Buscar archivo
                            <input type="file" id="fotoPerfil" name="fotoPerfil" accept="image/jpeg,image/png" style="display: none;">
                        </label>
                    </div>
                    <div id="fotoPerfilPreview"></div>
                    <div class="error" id="error-fotoPerfil"></div>
                </div>
                <div class="form-group">
                    <label>Agregar imagen para el pago QR (opcional)</label>
                    <div class="image-upload-container">
                        <i class="fas fa-qrcode"></i>
                        <p>Elegir un archivo</p>
                        <p>Formatos jpg o png</p>
                        <label for="codigoQR" class="image-upload-button">
                            Buscar archivo
                            <input type="file" id="codigoQR" name="codigoQR" accept="image/jpeg,image/png" style="display: none;">
                        </label>
                    </div>
                    <div id="codigoQRPreview"></div>
                    <div class="error" id="error-codigoQR"></div>
                </div>
                <div class="checkbox-group">
                    <input type="checkbox" id="aceptaTerminos" name="aceptaTerminos" required style="accent-color: orange;">
                    <label for="aceptaTerminos">
                        Al crear una cuenta, acepto los Términos de servicio y la Política de privacidad.
                    </label>
                </div>
                
            </div>

            <div class="button-group">
                <button type="button" id="prevBtn" style="display: none;">Atrás</button>
                <button type="button" id="nextBtn" disabled>Siguiente</button>
                <button type="submit" id="submitBtn" style="display: none;">Crear una cuenta</button>
            </div>
        </form>
    </div>

    <script>
        let currentSection = 1;
        const totalSections = 3;

        const form = document.getElementById('registro-form');
        const progressBar = document.getElementById('progress-bar');
        const prevBtn = document.getElementById('prevBtn');
        const nextBtn = document.getElementById('nextBtn');
        const submitBtn = document.getElementById('submitBtn');

        const provincias = {
            "La Paz": ['Murillo', 'Los Andes', 'Ingavi'],
            "Cochabamba": ['Cercado', 'Vallegrande', 'Chapare'],
            "Santa Cruz": ['Andrés Ibáñez', 'Chiquitos', 'Warnes'],
            "Tarija": ['Cercado', 'Gran Chaco', 'Burdet O´Connor'],
            "Chuquisaca": ['Sucre', 'Oropeza', 'Zudañez'],
            "Potosí": ['Potosí', 'Cinti', 'Tomás Frías'],
            "Oruro": ['Oruro', 'Sajama', 'Poopó'],
            "Beni": ['Cercado', 'Mamoré', 'Yacuma'],
            "Pando": ['Cobija', 'Nicolás Suárez', 'Federico Román']
        };

        const municipios = {
            "La Paz": ['La Paz', 

 'El Alto'],
            "Cochabamba": ['Cochabamba', 'Sacaba'],
            "Santa Cruz": ['Santa Cruz de la Sierra', 'Cotoca'],
            "Tarija": ['Tarija', 'Villazón'],
            "Chuquisaca": ['Sucre', 'Yotala'],
            "Potosí": ['Potosí', 'Uyuni'],
            "Oruro": ['Oruro', 'Huanuni'],
            "Beni": ['Trinidad', 'Riberalta'],
            "Pando": ['Cobija', 'Porvenir']
        };

        function updateProgressBar() {
            const progress = 33 + ((currentSection - 1) / (totalSections - 1)) * 67;
            progressBar.style.width = `${progress}%`;
        }

        function showSection(sectionNumber) {
            document.querySelectorAll('.form-section').forEach(section => {
                section.classList.remove('active');
            });
            document.getElementById(`section${sectionNumber}`).classList.add('active');

            if (sectionNumber === 1) {
                prevBtn.style.display = 'none';
                nextBtn.style.display = 'block';
                submitBtn.style.display = 'none';
            } else if (sectionNumber === totalSections) {
                prevBtn.style.display = 'block';
                nextBtn.style.display = 'none';
                submitBtn.style.display = 'block';
            } else {
                prevBtn.style.display = 'block';
                nextBtn.style.display = 'block';
                submitBtn.style.display = 'none';
            }

            updateProgressBar();
        }

        function validateField(field) {
            const value = field.value.trim();
            const name = field.name;
            const errorElement = document.getElementById(`error-${name}`);
            let error = '';

            switch (name) {
                case 'nombreCompleto':
                    if (!value) {
                        error = 'Campo obligatorio';
                    } else if (value.length < 4) {
                        error = 'Mínimo 4 caracteres';
                    } else if (value.length > 50) {
                        error = 'Máximo 50 caracteres';
                    } else if (/[^a-zA-Z\s]/.test(value)) {
                        error = 'El nombre solo puede contener letras';
                    } else if ((value.match(/\s/g) || []).length > 7) {
                        error = 'Número máximo de espacios 7';
                    } else if (/\s{2,}/.test(value)) {
                        error = 'No se permiten más de 2 espacios seguidos';
                    }
                    break;
                case 'nombreUsuario':
                    if (!value) {
                        error = 'Campo obligatorio';
                    } else if (value.length < 5) {
                        error = 'Mínimo 5 caracteres';
                    } else if (value.length > 15) {
                        error = 'Máximo 15 caracteres';
                    } else if (/[^a-zA-Z0-9@]/.test(value)) {
                        error = 'El nombre de usuario solo puede contener letras y números';
                    } else if (/\s/.test(value)) {
                        error = 'No se permiten espacios';
                    }
                    break;
                case 'contrasena':
                    if (!value) {
                        error = 'Campo obligatorio';
                    } else if (value.length < 8) {
                        error = 'Mínimo 8 caracteres';
                    } else if (value.length > 16) {
                        error = 'Límite de caracteres excedido (16)';
                    } else if (!/^(?=.*[A-Z])(?=.*\d)(?=.*[ª!"·$%&/()=?¿]).*$/.test(value)) {
                        error = 'La contraseña debe tener al menos una letra mayúscula, un número y un carácter especial (ª!"·$%&/()=?¿)';
                    }
                    break;
                case 'confirmarContrasena':
                    if (!value) {
                        error = 'Campo obligatorio';
                    } else if (value !== document.getElementById('contrasena').value) {
                        error = 'Las contraseñas no coinciden';
                    }
                    break;
                case 'departamento':
                case 'provincia':
                case 'municipio':
                    if (!value) {
                        error = 'Campo obligatorio';
                    }
                    break;
                case 'direccion':
                    if (!value) {
                        error = 'Campo obligatorio';
                    } else if (value.length < 10) {
                        error = 'Mínimo 10 caracteres';
                    } else if (value.length > 150) {
                        error = 'Límite de caracteres excedido (150)';
                    } else if (/[^a-zA-Z0-9\s,#]/.test(value)) {
                        error = 'No se permiten caracteres especiales (ª!"$%&/()=?)';
                    } else if (/\s{2,}/.test(value)) {
                        error = 'No se permiten más de 2 espacios seguidos';
                    }
                    break;
                case 'numeroCelular':
                    if (!value) {
                        error = 'Campo obligatorio';
                    } else if (!/^\d{8}$/.test(value)) {
                        error = 'El número de celular debe tener 8 dígitos';
                    }
                    break;
                case 'correoElectronico':
                    if (value && !/^[^\s@]+@[^\s@]+\.[^\s@]+$/.test(value)) {
                        error = 'Correo electrónico inválido';
                    }
                    break;
            }

            errorElement.textContent = error;
            return error === '';
        }

        function validateSection(sectionNumber) {
            const section = document.getElementById(`section${sectionNumber}`);
            const fields = section.querySelectorAll('input, select');
            let isValid = true;

            fields.forEach(field => {
                if (field.required && !validateField(field)) {
                    isValid = false;
                }
            });

            return isValid;
        }

        function updateNextButtonState() {
            nextBtn.disabled = !validateSection(currentSection);
        }

        nextBtn.addEventListener('click', () => {
            if (validateSection(currentSection)) {
                currentSection++;
                showSection(currentSection);
                updateNextButtonState();
            }
        });

        prevBtn.addEventListener('click', () => {
            currentSection--;
            showSection(currentSection);
            updateNextButtonState();
        });

        form.addEventListener('submit', (e) => {
            e.preventDefault();
            if (validateSection(currentSection)) {
                alert('Formulario enviado con éxito!');
                // Aquí puedes agregar la lógica para enviar el formulario
            }
        });

        // Inicializar
        updateProgressBar();

        // Validación en tiempo real
        form.querySelectorAll('input, select').forEach(field => {
            field.addEventListener('input', () => {
                validateField(field);
                updateNextButtonState();
            });
        });

        // Lógica para habilitar/deshabilitar selects de Provincia y Municipio
        const departamentoSelect = document.getElementById('departamento');
        const provinciaSelect = document.getElementById('provincia');
        const municipioSelect = document.getElementById('municipio');

        departamentoSelect.addEventListener('change', () => {
            const selectedDepartamento = departamentoSelect.value;
            provinciaSelect.disabled = !selectedDepartamento;
            municipioSelect.disabled = true;
            provinciaSelect.innerHTML = '<option value="">Seleccione su Provincia</option>';
            municipioSelect.innerHTML = '<option value="">Seleccione su Municipio</option>';
            
            if (selectedDepartamento && provincias[selectedDepartamento]) {
                provincias[selectedDepartamento].forEach(provincia => {
                    const option = document.createElement('option');
                    option.value = provincia;
                    option.textContent = provincia;
                    provinciaSelect.appendChild(option);
                });
            }
        });

        provinciaSelect.addEventListener('change', () => {
            const selectedDepartamento = departamentoSelect.value;
            const selectedProvincia = provinciaSelect.value;
            municipioSelect.disabled = !selectedProvincia;
            municipioSelect.innerHTML = '<option value="">Seleccione su Municipio</option>';
            
            if (selectedDepartamento && municipios[selectedDepartamento]) {
                municipios[selectedDepartamento].forEach(municipio => {
                    const option = document.createElement('option');
                    option.value = municipio;
                    option.textContent = municipio;
                    municipioSelect.appendChild(option);
                });
            }
        });

        // Autocompletar "@" en el nombre de usuario
        const nombreUsuarioInput = document.getElementById('nombreUsuario');
        nombreUsuarioInput.addEventListener('input', function(e) {
            if (!this.value.startsWith('@') && this.value.length > 0) {
                this.value = '@' + this.value;
            }
        });

        // Previsualización de la foto de perfil
        const fotoPerfilInput = document.getElementById('fotoPerfil');
        const fotoPerfilPreview = document.getElementById('fotoPerfilPreview');

        fotoPerfilInput.addEventListener('change', function(e) {
            const file = e.target.files[0];
            if (file) {
                const reader = new FileReader();
                reader.onload = function(e) {
                    const img = document.createElement('img');
                    img.src = e.target.result;
                    img.style.maxWidth = '100%';
                    img.style.height = 'auto';
                    fotoPerfilPreview.innerHTML = '';
                    fotoPerfilPreview.appendChild(img);
                }
                reader.readAsDataURL(file);
            }
        });

        // Previsualización del código QR
        const codigoQRInput = document.getElementById('codigoQR');
        const codigoQRPreview = document.getElementById('codigoQRPreview');

        codigoQRInput.addEventListener('change', function(e) {
            const file = e.target.files[0];
            if (file) {
                const reader = new FileReader();
                reader.onload = function(e) {
                    const img = document.createElement('img');
                    img.src = e.target.result;
                    img.style.maxWidth = '100%';
                    img.style.height = 'auto';
                    codigoQRPreview.innerHTML = '';
                    codigoQRPreview.appendChild(img);
                }
                reader.readAsDataURL(file);
            }
        });
    </script>
</body>
</html>