<!DOCTYPE html>
{% extends 'layoutReg.html' %}
{% load static %}

{% block title %}YouBuild | Home {% endblock %}

{% block extra_styles %}
<link rel="stylesheet" href="{% static 'resultadosVacios.css' %}" /> 
<link rel="stylesheet" href="{% static 'style.css' %}" /> 
<link rel="stylesheet" href="{% static 'listaProduct.css' %}" /> 
<link rel="stylesheet" href="{% static 'filtros.css' %}" />
{% endblock %}

{% block content %}
<main>
  <form id="filtro-form" method="POST" action="{% url 'filtro_productos' %}">
    {% csrf_token %}
    <div class="filtros">
        <label for="categoria">Categoría:</label>
        <select id="categoria" name="categoria">
            <option value="">Todas las categorías</option>
            {% for categoria in categorias %}
                <option value="{{ categoria.id }}">{{ categoria.nombre }}</option>
            {% endfor %}
        </select>
    
        <label for="precio">Precio:</label>
        <select id="precio" name="precio" onchange="updatePrices()">
            <option value="">Seleccionar Rango de Precio</option>
            <option value="0-50">Bs 0 - Bs 50</option>
            <option value="51-100">Bs 51 - Bs 100</option>
            <option value="101-200">Bs 101 - Bs 200</option>
            <option value="201-500">Bs 201 - Bs 500</option>
            <option value="500-">Bs +500</option>
        </select>
        <input type="hidden" id="precio_min" name="precio_min">
        <input type="hidden" id="precio_max" name="precio_max">
    
        <label for="ordenar">Ordenar por:</label>
        <select id="ordenar" name="ordenar">
            <option value="">Seleccionar Orden</option>
            <option value="menor">Menor a mayor Precio</option>
            <option value="mayor">Mayor a menor Precio</option>
        </select>
    
        <button id ="aplicar-filtros" type="submit">Aplicar</button>
        <button id="reset-filtros" type="button" onclick="reestablecerFiltros()">Restablecer Filtros</button>
    </div>
  </form>

  <div class="carousel-container">
    <div class="carousel">
      {% for carrusel_item in carrusel %}
      <div class="carousel-item">
        <img src="{{ carrusel_item.imagen.url }}" alt="Imagen del carrusel" />
      </div>
      {% endfor %}
    </div>
    <button class="carousel-button prev">
      <i class="fas fa-chevron-left"></i>
    </button>
    <button class="carousel-button next">
      <i class="fas fa-chevron-right"></i>
    </button>
  </div>

  <div class="carousel-dots"></div>

  <!-- Lista de productos disponibles -->
  <h2 class="products-title">Productos Disponibles</h2>
  <div class="products-container">
    {% for producto in producto %}
      <div class="product">
          <img src="{{ producto.imagenes.first.imagen.url }}" alt="{{ producto.nombre }}" />
          <h3>{{ producto.nombre }}</h3>
          <p>Bs {{ producto.precio }}</p>
          <div class="buttons-container">
              <div class="button-row">
                  <button class="btn buy-now">Comprar Ahora</button>
                  <button class="btn add-to-cart" onclick="agregarAlCarrito({{ producto.id }})">
                      <i class="fas fa-shopping-cart"></i> Agregar a Carrito
                  </button>
              </div>
              <div class="button-row">
                  <button class="btn add-to-view" onclick="verDetalles({{ producto.id }})">
                      <i class="fas fa-eye"></i> Ver Detalles
                  </button>
                  <button class="btn add-to-list" onclick="agregarAFavoritos({{ producto.id }})">
                      <i class="fas fa-heart"></i> Agregar a Lista
                  </button>
              </div>
          </div>
      </div>
  {% empty %}
      <div class="mi-no-results">
          <img src="{% static 'notFounded.png' %}" alt="LogoNotFounded" width="125">
          <p>No se encontraron productos relacionados con tu búsqueda.</p>
          <p>Asegúrate de que los filtros seleccionados sean correctos o prueba con otros criterios.</p> <!-- Mensaje adicional -->
          <div class="mi-button-row">
              <a href="{% url 'home' %}" class="mi-btn">Volver a la Página de Inicio</a>
          </div>
      </div>
  {% endfor %}
  </div>
</main>
{% endblock %}

{% block extra_scripts %}
<script src="{% static 'script.js' %}"></script>
<script>
  function agregarAlCarrito(productId) {
    fetch(`/agregar-al-carrito/${productId}/`, {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': '{{ csrf_token }}'
        },
        body: JSON.stringify({})
    })
    .then(response => {
        if (response.redirected) {
            window.location.href = response.url;
        } else {
            return response.json();
        }
    })
    .then(data => {
        if (data && data.success) {
            alert(data.message || 'Producto agregado correctamente al carrito');
        } else if (data && data.message) {
            alert(data.message || 'Error al agregar el producto al carrito');
        }
    })
    .catch(error => {
        console.error('Error:', error);
        alert('Error al agregar al carrito');
    });
  }

  function agregarAFavoritos(productoId) {
    fetch(`/lista-favoritos/agregar/${productoId}/`, {
        method: 'GET',
        headers: {
            'X-Requested-With': 'XMLHttpRequest'
        }
    })
    .then(response => response.json())
    .then(data => {
        if (data.success) {
            alert("Producto agregado a la lista de deseos!");
        } else {
            alert("Hubo un error al agregar el producto.");
        }
    });
  }

  function reestablecerFiltros() {
      document.getElementById('categoria').value = '';
      document.getElementById('precio').value = '';
      document.getElementById('ordenar').value = '';
  }

  function updatePrices() {
    var select = document.getElementById("precio");
    var value = select.value;
    var minMax = value.split('-');

    document.getElementById("precio_min").value = minMax[0] || '';
    document.getElementById("precio_max").value = minMax[1] || '';
  }

  document.getElementById('filtro-form').addEventListener('submit', function(event) {
    event.preventDefault(); // Prevenir el comportamiento por defecto del formulario
    const formData = new FormData(this);
    
    // Mensaje de carga
    const productsContainer = document.querySelector('.products-container');
    productsContainer.innerHTML = '<p>Cargando...</p>';

    fetch(this.action, {
        method: 'POST',
        body: formData,
        headers: {
            'X-Requested-With': 'XMLHttpRequest'
        }
    })
    .then(response => response.json())
    .then(data => {
        productsContainer.innerHTML = ''; // Limpiar contenedor antes de agregar productos

        if (data.products && data.products.length > 0) {
            data.products.forEach(producto => {
                productsContainer.innerHTML += `
                    <div class="product">
                        <img src="${producto.imagen}" alt="${producto.nombre}" />
                        <h3>${producto.nombre}</h3>
                        <p>Bs ${producto.precio}</p>
                        <div class="buttons-container">
                            <div class="button-row">
                                <button class="btn buy-now">Comprar Ahora</button>
                                <button class="btn add-to-cart" onclick="agregarAlCarrito(${producto.id})">
                                    <i class="fas fa-shopping-cart"></i> Agregar a Carrito
                                </button>
                            </div>
                            <div class="button-row">
                                <button class="btn add-to-view" onclick="verDetalles(${producto.id})">
                                    <i class="fas fa-eye"></i> Ver Detalles
                                </button>
                                <button class="btn add-to-list" onclick="agregarAFavoritos(${producto.id})">
                                    <i class="fas fa-heart"></i> Agregar a Lista
                                </button>
                            </div>
                        </div>
                    </div>`;
            });
        } else {
            productsContainer.innerHTML = `
                <div class="mi-no-results">
                    <img src="{% static 'notFounded.png' %}" alt="LogoNotFounded" width="125">
                    <p>No se encontraron productos relacionados con tu búsqueda.</p>
                    <p>Asegúrate de que los filtros seleccionados sean correctos o prueba con otros criterios.</p>
                    <div class="mi-button-row">
                        <a href="{% url 'home' %}" class="mi-btn">Volver a la Página de Inicio</a>
                    </div>
                </div>`;
        }
    })
    .catch(error => {
        console.error('Error:', error);
        productsContainer.innerHTML = '<p>Error al buscar productos.</p>'; // Mostrar error en el contenedor
    });
  });

</script>

{% endblock %}
