{% load static %}
<link rel="stylesheet" href="{% static 'login.css' %}">
<div class="login-container">
    <h2 class="login-titulo">Iniciar Sesión</h2>
    <form method="post" class="login-formulario">
        {% csrf_token %}
        <div class="login-form-group">
            {{ form.username.label_tag }} {{ form.username }}
        </div>
        <div class="login-form-group">
            {{ form.password.label_tag }} {{ form.password }}
        </div>
        <button type="submit" class="login-btn-submit">Ingresar</button>
    </form>
</div>