{% extends 'layoutReg.html' %}
{% load static %}
{% load custom_filters %}

{% block title %}Confirmar Compra{% endblock %}

{% block extra_styles %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
<link rel="stylesheet" href="{% static 'compra_carrito.css' %}" />
<link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;700&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}
  <div class="container">
    <h1>Proceder con el Pago del Carrito</h1>

    <h2>Dirección de Envío:</h2>
    <p>{{ direccion_envio }}</p>

    <h2>Productos en tu Carrito:</h2>
    {% if productos_carrito %}
        <table class="table">
            <thead>
            <tr>
                <th>Producto</th>
                <th>Cantidad</th>
                <th>Subtotal</th>
                <th>Acciones</th>
            </tr>
            </thead>
            <tbody>
            {% for item in productos_carrito %}
                <tr>
                <td>{{ item.producto_fk.nombre }}</td>
                <td>{{ item.cantidad }}</td>
                <td>Bs {{ item.calcular_subtotal }}</td>
                <td>
                    <a href="{% url 'eliminar_producto' item.id  %}" class="btn btn-danger">Eliminar</a>
                </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <h3>Total: Bs 
            {% with total=0 %}
                {% for item in productos_carrito %}
                    {% with total=total|add:item.calcular_subtotal %}
                    {% endwith %}
                {% endfor %}
            {{ total }}
            {% endwith %}
        </h3>

        <h2>Código QR de tu Carrito:</h2>
        <img src="data:image/png;base64,{{ qr_image_url|base64_encode }}" alt="QR para el carrito">

        <form method="post" action="{% url 'procesar_carrito' %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-success">Finalizar Compra</button>
        </form>
    
    {% else %}
        <p>Tu carrito está vacío.</p>
    {% endif %}
    
    <a href="{% url 'historial_transacciones' %}" class="btn btn-secondary">Ver Historial de Transacciones</a>
  </div>
{% endblock %}
