<!DOCTYPE html>
{% extends 'layoutReg.html' %}
{% load static %}

{% block title %}Registrar Producto{% endblock %}

{% block extra_styles %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
<link rel="stylesheet" href="{% static 'RegistrarProducto.css' %}" />
{% endblock %}

{% block content %}
<div class="container">
    <h1>Registrar Producto</h1>
    
    <form method="POST" action="{% url 'registrar_producto' %}" enctype="multipart/form-data" onsubmit="return logFormData();">
        {% csrf_token %}
        
        <div class="info-box">
            <section class="product-info">
                <h2>Información del Producto</h2>
                <p>¿Qué vendes? Proporciona toda la información relevante</p>
                
                <label>Nombre del Producto</label>
                <div class="input-container">
                    <input type="text" name="nombre_producto" placeholder="Agrega el nombre del producto" maxlength="50" oninput="updateCounter('nombre', this)">
                    <span id="nombre-counter" class="counter">0/50</span>
                </div>

                <label>Categoría y subcategoría</label>
                <select name="categoria">
                    <option value="">Selecciona una categoría</option>
                    {% for categoria in categorias %}
                        <option value="{{ categoria.id }}">{{ categoria.nombre }}</option>
                    {% endfor %}
                </select>
                
                <select name="subcategoria" id="subcategoria-select" style="display:none;">
                    <option value="">Selecciona una subcategoría</option>
                </select>
                
                <label>Descripción</label>
                <div class="input-container">
                    <textarea name="detalle" placeholder="Agrega más detalles de producto" maxlength="500" oninput="updateCounter('descripcion', this)"></textarea>
                    <span id="descripcion-counter" class="counter">0/500</span>
                </div>
                
                <div class="price-quantity">
                    <div class="price">
                        <label>Precio</label>
                        <div class="price-container">
                            <input type="number" name="precio" placeholder="0.00" step="0.01">
                            <span class="currency">Bolivianos</span>
                        </div>
                    </div>
                    <div class="quantity">
                        <label>Cantidad</label>
                        <div class="quantity-container">
                            <button type="button" onclick="decrementQuantity()">-</button>
                            <input type="text" name="cantidad" value="1" maxlength="3">
                            <button type="button" onclick="incrementQuantity()">+</button>
                        </div>
                    </div>
                </div>
                
            </section>
        </div>

        <div class="photo-box">
            <h2>Fotos</h2>
            <p>Sube al menos una foto</p>
            <div class="photo-grid">
                <!-- Cuadro para la foto principal -->
                <div class="photo-container" onclick="document.getElementById('file-input-1').click();">
                    <input type="file" id="file-input-1" class="file-input" accept="image/*" onchange="previewImage(event, 'photo-preview-1')" name="foto_principal">
                    <img id="photo-preview-1" class="photo-preview" alt="Vista previa de la foto principal" style="display: none;">
                    <p class="photo-text">Foto principal</p>
                    <button class="remove-photo" onclick="removePhoto('file-input-1', 'photo-preview-1'); event.stopPropagation();">X</button>
                </div>
                
                <!-- Cuadro para foto adicional -->
                <div class="photo-container" onclick="document.getElementById('file-input-2').click();">
                    <input type="file" id="file-input-2" class="file-input" accept="image/*" onchange="previewImage(event, 'photo-preview-2')" name="foto_adicional">
                    <img id="photo-preview-2" class="photo-preview" alt="Vista previa de la foto adicional" style="display: none;">
                    <p class="photo-text">+</p>
                    <button class="remove-photo" onclick="removePhoto('file-input-2', 'photo-preview-2'); event.stopPropagation();">X</button>
                </div>
            </div>
        </div>        

        <div class="location-box">
            <section class="location">
                <h2>Ubicación</h2>
                <p>Agrega la información para que los clientes sepan desde dónde vendes el producto</p>
                
                <label>Departamento</label>
                <select name="departamento" id="departamento-select">
                    <option value="">Selecciona un departamento</option>
                    {% for departamento in departamentos %}
                        <option value="{{ departamento.id }}">{{ departamento.nombre }}</option>
                    {% endfor %}
                </select>
                
                <label>Provincia</label>
                <select name="provincia" id="provincia-select" style="display:none;">
                    <option value="">Selecciona una provincia</option>
                </select>
                
                <label>Municipio</label>
                <select name="municipio" id="municipio-select" style="display:none;">
                    <option value="">Selecciona un municipio</option>
                </select>
                
                <label>Dirección específica</label>
                <div class="input-container">
                    <textarea name="direccion" placeholder="Agrega más detalles de la ubicación" maxlength="500" oninput="updateCounter('direccion', this)"></textarea>
                    <span id="direccion-counter" class="counter">0/500</span>
                </div>
                
                <button class="autocomplete">Autocompletar</button>
            </section>
        </div>
        
        <div class="buttons">
            <button type="button" class="discard">Descartar</button>
            <button type="submit" class="save">Guardar</button>
        </div>
    </form>
</div>
{% endblock %}

{% block extra_scripts %}
<script>

    function updateCounter(type, element) {
        const maxLength = element.maxLength;
        const currentLength = element.value.length;
    
        switch(type) {
            case 'nombre':
                document.getElementById('nombre-counter').innerText = `${currentLength}/${maxLength}`;
                break;
            case 'descripcion':
                document.getElementById('descripcion-counter').innerText = `${currentLength}/${maxLength}`;
                break;
            case 'direccion':
                document.getElementById('direccion-counter').innerText = `${currentLength}/${maxLength}`;
                break;
        }
    }

    document.getElementById('departamento-select').addEventListener('change', function() {
        var departamentoId = this.value;
        fetch(`/provincias/${departamentoId}/`)
            .then(response => response.json())
            .then(data => {
                var provinciaSelect = document.getElementById('provincia-select');
                provinciaSelect.innerHTML = '<option value="">Selecciona una provincia</option>';
                data.forEach(provincia => {
                    provinciaSelect.innerHTML += `<option value="${provincia.id}">${provincia.nombre}</option>`;
                });
                provinciaSelect.style.display = 'block';
            });
    });

    document.getElementById('provincia-select').addEventListener('change', function() {
        var provinciaId = this.value;
        fetch(`/municipios/${provinciaId}/`)
            .then(response => response.json())
            .then(data => {
                var municipioSelect = document.getElementById('municipio-select');
                municipioSelect.innerHTML = '<option value="">Selecciona un municipio</option>';
                data.forEach(municipio => {
                    municipioSelect.innerHTML += `<option value="${municipio.id}">${municipio.nombre}</option>`;
                });
                municipioSelect.style.display = 'block';
            });
    });

    document.querySelector('select[name="categoria"]').addEventListener('change', function() {
        var categoriaId = this.value;
        fetch(`/subcategorias/${categoriaId}/`)
            .then(response => response.json())
            .then(data => {
                var subcategoriaSelect = document.getElementById('subcategoria-select');
                subcategoriaSelect.innerHTML = '<option value="">Selecciona una subcategoría</option>';
                data.forEach(subcategoria => {
                    subcategoriaSelect.innerHTML += `<option value="${subcategoria.id}">${subcategoria.nombre}</option>`;
                });
                subcategoriaSelect.style.display = 'block';
            });
    });

    function incrementQuantity() {
        var input = document.querySelector('input[name="cantidad"]');
        input.value = parseInt(input.value) + 1;
    }

    function decrementQuantity() {
        var input = document.querySelector('input[name="cantidad"]');
        if (input.value > 1) {
            input.value = parseInt(input.value) - 1;
        }
    }

    function previewImage(event, previewId) {
        const file = event.target.files[0];
        const preview = document.getElementById(previewId);
        
        if (file) {
            const reader = new FileReader();
            
            reader.onload = function(e) {
                preview.src = e.target.result;
                preview.style.display = 'block';
                preview.nextElementSibling.style.display = 'none'; // Oculta el texto
            };
            
            reader.readAsDataURL(file);
        }
    }

    function removePhoto(inputId, previewId) {
        document.getElementById(inputId).value = ""; // Limpia el input del archivo
        document.getElementById(previewId).style.display = "none"; // Oculta la vista previa
    }

    function logFormData() {
        const formData = new FormData(document.querySelector('form'));
        for (let [key, value] of formData.entries()) {
            console.log(`${key}: ${value}`);
        }
        // Devuelve true para continuar con el envío del formulario
        return true; 
    }

</script>
{% endblock %}
