.confirmar-compra {
    font-family: 'Comfortaa', sans-serif;
    background-color: #f8f8f8;
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.direccion-envio, .formas-pago {
    margin-bottom: 20px;
}

.direccion-box {
    background: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
}

.qr-container {
    text-align: center;
    margin: 10px 0;
}

.qr-imagen {
    max-width: 200px;
    border: 2px solid #ddd;
    border-radius: 10px;
}

.boton-container {
    text-align: center;
}

.btn-confirmar {
    background-color: #f59c17;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-confirmar:hover {
    background-color: #cc7e12;
}
