/* Wrapper - Contenedor general centrado */
.lista_favoritos-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
    background-color: #f9f9f9;
}

/* Contenedor de la lista de deseos */
.lista_favoritos-content {
    width: 90%;
    max-width: 900px;
    background-color: transparent;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* Encabezados */
h1, p, h2 {
    text-align: left;
    margin: 0 auto;
    color: #333;
}

/* Tabla de Productos */
.lista_favoritos-products table {
    border: 2px solid #6b6969;
    width: 100%;
    border-collapse: collapse;
    border-radius: 10px;
    margin-top: 20px;
    background-color: #ffffff;
    overflow: hidden;
}

.lista_favoritos-products th, 
.lista_favoritos-products td {
    border-bottom: 2px solid #ff6600;
    text-align: left;
    padding: 15px;
}

.lista_favoritos-products th {
    color: #333;
    border-bottom: 2px solid transparent;
}

.product-info {
    display: flex;
    align-items: center;
    gap: 15px;
}

.product-info span {
    font-size: 2em; /* Ajusta el tamaño del nombre del producto */
    color: #333;
}

/* Imagen del Producto */
.product-image {
    width: 90px;
    height: 90px;
    border-radius: 4px;
    object-fit: cover;
}

/* Detalles del Producto */
.product-details {
    display: flex;
    flex-direction: column;
}

.product-buttons {
    display: flex;
    gap: 10px;
    margin-top: 5px;
}

/* Botones de Acción */
.btn-eliminar {
    background: none;
    border: none;
    color: #ff4d4d;
    cursor: pointer;
    font-size: 1.2em;
}

.btn-detalle, .btn-agregar {
    background-color: #fff;
    border: 1px solid #ff6600;
    color: #ff6600;
    padding: 5px 8px;
    border-radius: 4px;
    font-size: 0.9em;
    cursor: pointer;
}

.btn-comprar {
    background-color: #fff;
    border: 1px solid #ff6600;
    color: #ff6600; /* Color del texto */
    padding: 5px 10px; /* Espaciado */
    border-radius: 4px; /* Bordes redondeados */
    font-size: 0.9em; /* Tamaño de fuente */
    margin-left: 240px; /* Espacio entre "Comprar Ahora" y otros botones */
    cursor: pointer; /* Cambio de cursor al pasar el mouse */
}

.btn-detalle:hover, .btn-agregar:hover, .btn-comprar:hover {
    background-color: #ff6600;
    color: #fff;
}

/* Precio del Producto */
.product-price {
    text-align: right;
    font-weight: bold;
    color: #333;
}

/* Botón de Volver */
.btn-volver {
    display: inline-block;
    background-color: #ff6600;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    margin-top: 20px;
}

.btn-volver:hover {
    background-color: #e55b00;
}
