/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

.products-title {
    text-align: left;
    margin: 10px;
    font-size: 1em;
    color: #333;
    margin-left: 20px;
}

/* Estilos de productos */
.products-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 10px;
    z-index: 0;
}

.product {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    width: 300px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    height: 300px; /* Mantener la altura del producto */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product:hover {
    transform: scale(1.05);
}

.product img {
    width: 100%; /* Ajustar la imagen al ancho del producto */
    height: 150px; /* Ajustar la altura de la imagen */
    border-radius: 8px;
    object-fit: cover; /* Mantener la relación de aspecto y cubrir el área */
}

.product h3 {
    font-size: 0.9em; /* Tamaño del nombre del producto */
    margin: 5px 0; /* Reducir el margen para acercar al precio */
    color: #444;
}

.product p {
    font-size: 0.8em; /* Aumentar el tamaño de fuente del precio */
    margin: 5px 0; /* Reducir el margen entre precio y botones */
    color: rgb(243, 174, 37);
}

/* Estilos de botones */
.buttons-container {
    display: flex; /* Usar Flexbox para las filas de botones */
    flex-direction: column; /* Organiza los botones en columnas */
    margin-top: auto; /* Asegura que los botones se alineen al final del contenedor del producto */
}

.button-row {
    display: flex; /* Usar Flexbox para cada fila de botones */
    justify-content: space-between; /* Espacio entre los botones */
    margin: 5px 0; /* Espacio entre filas de botones */
}

/* Asegurarse de que los botones ocupen el espacio adecuado */
.btn {
    background-color: #ef6605; /* Color de fondo para el botón Comprar */
    color: white; /* Color de texto para el botón Comprar */
    border: none;
    padding: 8px 10px;
    margin: 5px; /* Margen entre botones */
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    flex: 1; /* Hace que los botones ocupen el mismo espacio */
    min-width: 0; /* Permite que el botón se ajuste a su contenedor */
}

.btn:hover {
    background-color: #ba7730; /* Color al pasar el ratón por encima del botón Comprar */
}

/* Botones gris */
.btn.add-to-list,
.btn.add-to-view,
.btn.add-to-cart {
    background-color: #faf7f6; /* Color de fondo gris */
    color: rgb(243, 174, 37); /* Color de texto gris */
    border: 1px solid rgb(243, 174, 37); /* Borde gris */
}

.btn.add-to-list:hover,
.btn.add-to-view:hover,
.btn.add-to-cart:hover {
    background-color: #4e504e; /* Color al pasar el ratón por encima de los botones gris */
    color: rgb(243, 174, 37); /* Color de texto al pasar el ratón por encima */
}
