/* Aplica la imagen de fondo al body y limita su altura a un 50% de la pantalla */
body {
    background-image: url("/static/FondoYB.jpeg") !important; /* Manteniendo la ruta tal como la tienes */
    background-size: 100% 80%; /* Establece que la imagen ocupe el 100% del ancho y el 70% de la altura */
    background-position: top center; /* La imagen se posiciona en la parte superior */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-attachment: fixed; /* La imagen se mantiene fija al hacer scroll */
    margin: 0; /* Elimina márgenes por defecto */
}

/* Media queries para diseño responsivo */
@media (max-width: 1024px) {
    body {
        background-size: 100% 100%; /* Escala la imagen según el tamaño del cuerpo */
        background-attachment: scroll; /* Permite que se desplace con el contenido */
    }
}

@media (max-width: 768px) {
    body {
        background-size: auto 100%; /* Ajusta el alto al 100% y el ancho automáticamente */
    }
}

@media (max-width: 480px) {
    body {
        background-size: contain; /* Escala la imagen para que se ajuste dentro del área */
        background-attachment: scroll; /* Asegura el desplazamiento en pantallas pequeñas */
        background-position: top; /* Ajusta la posición en dispositivos pequeños */
    }
}
/* La topbar sigue teniendo su imagen como fondo */
.topbar-background {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    position: relative;
    height: 100px; /* Ajusta la altura de la topbar */
}

/* Mantener el estilo para la topbar-container */
.topbar-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 13px 0px;
    background-color: transparent; /* Fondo transparente */
    margin: 0 2cm; /* Ajusta los márgenes según sea necesario */
    position: relative;
    font-size: 16px;
}

/* Estilo del logo de texto */
.topbar-left .logo {
    display: flex;
    align-items: center;
    font-size: 30px; /* Tamaño del texto */
    font-weight: 1000; /* Negrita */
    color: #fff; /* Color del texto */
    text-decoration: none; /* Elimina subrayado del enlace */
}

/* Estilo del texto del logo */
.logo-text {
    font-size: 20px; /* Aumenta el tamaño del texto */
    font-weight: bold;
    color: #ef6605; /* Color destacado, puedes cambiarlo según tu diseño */
    text-transform: uppercase; /* Opcional: convierte el texto en mayúsculas */
    letter-spacing: 2px; /* Espaciado entre letras */
}

/* Hover del logo-text */
.topbar-left .logo:hover .logo-text {
    color: #f2690d; /* Color cuando se pasa el mouse por encima */
}

/* Sección centro (Búsqueda) */
.topbar-center {
    flex-grow: 1;
    text-align: center;
    margin: 5px 0;
}

.search-box {
    display: inline-flex;
    background-color: #f8f7f5;
    border: 2px solid #ef6605;
    border-radius: 25px; /* Valor de border-radius igual al de los botones */
    padding: 5px;
    width: 80%;
    max-width: 700px;
    margin: 10px auto;
}

/* Ajustar el tamaño de fuente en el campo de búsqueda */
.search-box input {
    border: none;
    background-color: transparent;
    outline: none;
    flex-grow: 1;
    padding: 5px;
    padding-left: 12px; /* Espacio a la izquierda */
    font-size: inherit;
}

/* Ajuste para el botón de búsqueda */
.search-box button {
    background-color: transparent;
    border: none;
    color: #ED8C2B;
    cursor: pointer;
    margin-right: 6px; /* Espacio a la derecha para alejar la lupa del borde */
}

/* Sección derecha (Botones) */
.topbar-right {
    display: flex;
    gap: 10px;
}

.topbar-right .icon-btn i {
    font-size: 18px; /* Ajustar tamaño de icono */
}

/* Estilo de los botones de enlace e icono (sin borde) */
.btn-link,
.icon-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    background-color: transparent; /* Fondo transparente */
    border: none; /* Elimina el borde */
    border-radius: 0; /* Elimina el borde redondeado */
    color: #f4f0ee; /* Color del texto */
    text-decoration: none; /* Elimina el subrayado */
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: inherit;
}

/* Hover (Cambios al acercar el cursor) */
.btn-link:hover,
.icon-btn:hover {
    color: #ea580c; /* Cambiar color del texto al hacer hover */
    background-color: transparent; /* Asegura que no haya fondo en hover */
}

/* Ajuste para los botones específicos */
.topbar-right .btn-link:first-of-type {
    color: #f4f0ee; /* Iniciar sesión color */
}

/* Ajuste para el icono del carrito */
.topbar-right .icon-btn {
    position: relative; /* Esto permite que el contador se posicione en relación con el ícono */
}

.topbar-right .icon-btn i {
    font-size: 25px; /* Tamaño del icono */
}

/* Circulo del contador en el carrito */
.cart-count {
    position: absolute;
    top: -5px; /* Ajusta la distancia desde la parte superior del carrito */
    right: -5px; /* Ajusta la distancia desde la parte derecha del carrito */
    background-color: orange;
    color: white;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    border: 2px solid white;
    font-weight: bold; /* Hace que el número sea más visible */
}

/* Botón para vender */
.btn-sell {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ef6605;
    color: white;
    border: none;
    border-radius: 25px;
    padding: 10px 20px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s;
    font-size: inherit;
    text-decoration: none !important; /* Ensure no underline */
}

.btn-sell i {
    background-color: transparent;
    border: 1px solid white;
    border-radius: 50%;
    padding: 5px;
    margin-right: 10px;
    font-size: 16px;
    text-decoration: none !important; /* Ensure no underline */
}

.btn-sell:hover {
    background-color: #ea580c;
    text-decoration: none !important; /* Ensure no underline */
}

/* Media Queries para diseño responsivo */
@media (max-width: 768px) {
    .topbar-container {
        margin: 0; /* Remove margin for smaller screens */
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    .topbar-left .logo img {
        width: 150px;
    }

    .search-box {
        width: 90%;
        margin: 10px auto;
    }

    .topbar-right {
        flex-wrap: nowrap;
        width: auto;
        justify-content: center;
        margin-bottom: 10px;
    }

    .btn-link,
    .icon-btn,
    .btn-sell {
        margin: 5px;
    }
}

@media (max-width: 480px) {
    .topbar-left .logo img {
        margin: 0; /* Remove margin for mobile view */
        width: 120px;
    }

    .search-box {
        width: 90%;
        padding: 10px;
    }

    .topbar-container {
        padding: 10px;
    }
}

.welcome-section {
    text-align: center;
    margin-top: 20px;
    padding: 20px 10px;
    color: #1c1c0d; /* Color de texto principal */
  }
  
  .welcome-section h1 {
    font-size: 5em; /* Incrementa el tamaño */
    font-weight: 1000; /* Aumenta el grosor (700 es bold, 800 es extra-bold) */
    color: #ffffff; /* Color blanco */
    margin-bottom: 10px;
  }
  
  .welcome-section p {
    font-size: 1.2em;
    color: #ffffff; /* Color gris oscuro */
    font-weight: 800;
  }
  